@media only screen and (max-width:390px) {
    table {
        max-width:370px;
    }
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
 }

 html, body {
    margin: 0;
    height: 100%;
}
  
main {
    padding: 10px;
}

h1 {
    font-size: large;
    margin-top: 0;
    padding-left: 3px;
}

h2 {
    vertical-align: center;
    text-align: center;
}
  
table {
    width: 100%;
}


#logo img{
    padding-top: 10px;
    height:50px;
}

#splashScreen {
    display: flex;
    align-items: center;
    justify-content: center;
}

#itemWrapper {
    width: 480px;
    height: 180px;
 }

#itemList {
    height: 116px;
    overflow-y: auto;
    border: 1px solid gray;
}

#itemList tr:nth-of-type(even){
    background-color: lightblue;
}

#studentList td:nth-child(2) {
    text-align: center;
}

select option:nth-of-type(even) {
    background-color: lightblue;
}

select option {
    padding: 3px;
}




.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #00BAF0;
    background: linear-gradient(to left, rgb(172, 172, 252), rgb(55, 55, 252));
    color: #FFF;
    height: 50px;
    padding: 1em;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu > li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}
  
@media (max-width: 700px) {
    .menu-button-container {
        display: flex;
    }
    .menu {
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        background-color: lightblue;
    }
    .menu a {
        text-decoration: none; 
        color: blue;

    }
    .menu > li:not(:last-child) {
        border-bottom: 1px solid #444;
    }
  }